<div *ngIf="test && !isPassed()">
    <app-subheader
            [title]="title"
    >
    </app-subheader>
    <hr>
    <app-test-body [blocks]="blocks"></app-test-body>
    <hr>
    <app-test-control-panel
        (onSubmit)="submit()"
        (onClear)="clear()"
    ></app-test-control-panel>
</div>
<div *ngIf="test && isPassed()">
    <app-subheader
            [title]="title"
    >
    </app-subheader>
    <span>Вы уже прошли этот тест, ваша оценка {{getMark()}}</span>
</div>
<app-spinner [text]="'Загрузка заданий...'" *ngIf="!test && !isPassed()"></app-spinner>
