<mat-card *ngIf="task && taskTypeOptions">
    <mat-card-header>
        <mat-card-title>
            {{taskTypeToString(task.type)}}
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

        <!--question.text input-->
        <mat-form-field
                style="width: 100%"
        >
            <input matInput
                   [disabled]="isQuestionDisabled() || disabled"
                   [(ngModel)]="task.question.text"
            >
        </mat-form-field>
        <br>
        <!--taskType select-->
        <mat-form-field
                style="width: 100%"
        >
            <mat-select
                    [disabled]="disabled || isQuestionDisabled()"
                    [(ngModel)]="task.type"
            >
                <mat-option
                        *ngFor="let option of taskTypeOptions"
                        [value]="option.value"
                        (click)="changeQuestionOptionByType(option.value)"
                >
                    {{option.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <app-answers-list

        ></app-answers-list>

    </mat-card-content>


    <mat-card-actions>
        <button mat-button (click)="deleteTask()">Удалить</button>
    </mat-card-actions>
</mat-card>
