<div *ngIf="blocks">
    <app-alg-header [title]="title"></app-alg-header>
    <app-alg-logs></app-alg-logs>
    <alg-control-panel
            [blocks]="blocks"
            (onEncrypt)="handleEncrypt($event)"
            (onStart)="handleStart($event)"
            (onGenKeys)="handleGenKeys($event)"
            (onCode)="handleCode($event)"
            (onSign)="handleSign($event)"
            (onCheckSign)="handleCheckSign($event)"
            (onFileLoad)="handleFileLoad($event)"
            (onCompression)="handleCompression($event)"
    ></alg-control-panel>
</div>
<app-spinner [text]="'Загрузка блоков'" *ngIf="!blocks"></app-spinner>
