<label *ngIf="isTeacher()">
    <button type="button" mat-button (click)="fileInput.click()">Добавить</button>
    <input hidden (change)="uploadLecture($event.target['files'])" #fileInput type="file" id="file">
</label>
<hr>
<div class="list-group-flush" *ngIf="lectures && lectures.length !== 0">
    <ng-container *ngFor="let lecture of lectures">
        <app-lecture-link
                [lectureId]="lecture.id"
                [lectureTitle]="lecture.name"
                (download)="downloadLecture($event, lecture.name)"
                (delete)="deleteLecture($event)"
        ></app-lecture-link>
    </ng-container>
</div>
