<ng-container>
    <a class="list-group-item list-group-item-action"
       style="cursor: pointer"
       (mouseenter)="setFocus()"
       (mouseleave)="clearFocus()"
    >
        <div class="row" *ngIf="isAccessed()">
            <div
                    class="col-11"
                    (click)="emitDownload()"
            >
                <span>
                    {{lectureTitle}}
                </span>
            </div>
            <div class="col-1"
                 *ngIf="isFocused">
                <mat-icon

                        (click)="emitDelete()"
                >delete
                </mat-icon>
            </div>
        </div>

        <div class="row" *ngIf="!isAccessed()">
            <div
                    class="col-12"
                    (click)="emitDownload()"
            >
                <span>
                    {{lectureTitle}}
                </span>
            </div>
        </div>
    </a>
</ng-container>
