<div class="list-group-flush">
    <a class="list-group-item list-group-item-action"
       [routerLink]="['rot-13', {urlBase: 'rot-13'}]"
    >ROT-13</a>

    <a class="list-group-item list-group-item-action"
       [routerLink]="['morse', {urlBase: 'morse'}]"
    >Морзе</a>

    <a class="list-group-item list-group-item-action"
       [routerLink]="['table-transposition', {urlBase: 'table-transposition'}]"
    >Табличная перестановка</a>

    <a class="list-group-item list-group-item-action"
       [routerLink]="['sha-1', {urlBase: 'sha-1'}]"
    >Sha-1</a>

    <a class="list-group-item list-group-item-action"
       [routerLink]="['rsa', {urlBase: 'rsa'}]"
    >RSA</a>

    <a class="list-group-item list-group-item-action"
       [routerLink]="['wavelet', {urlBase: 'wavelet'}]"
    >Алгоритм Вейвлета</a>

    <a class="list-group-item list-group-item-action"
       [routerLink]="['aes', {urlBase: 'aes'}]"
    >AES</a>

    <a class="list-group-item list-group-item-action"
       [routerLink]="['el-gamal', {urlBase: 'el-gamal'}]"
    >Алгоритм Эль-Гамаля</a>

    <a class="list-group-item list-group-item-action"
       [routerLink]="['rle', {urlBase: 'rle'}]"
    >RLE</a>
</div>
