<div *ngIf="blocksResponse">
    <form class="form">

        <mat-form-field class="full-width" *ngFor="let id of blocksResponse.ids">
            <textarea matInput matTextareaAutosize
                      [placeholder]="blocks[id].name"
                      [(ngModel)]="blocks[id].value"
                      name="blockValue">
            </textarea>
        </mat-form-field>

    </form>


    <button *ngIf="isDisplayed(genKeys)" (click)="clickGenerate()">Сгенерировать ключи</button>
    <button *ngIf="isDisplayed(checkSign)" (click)="clickCheckSign()">Проверить подпись</button>
    <button *ngIf="isDisplayed(checkSign)" (click)="clickSign()">Подписать текст закрытым ключом</button>

    <button *ngIf="isDisplayed(start)" (click)="clickStart()">Запустить алгоритм</button>

    <button *ngIf="isDisplayed(fileCompression)">Загрузить файл</button>
    <button *ngIf="isDisplayed(fileCompression)">Сжать файл</button>

    <div *ngIf="isDisplayed(encrypt)">
        <button (click)="clickEncrypt()"> {{mode && mode.toEncrypt()}} </button>
        <mat-slide-toggle [color]="'accent'"
                          (toggleChange)="onToggle()"
                          [checked]="mode.value()"
        ></mat-slide-toggle>
    </div>

    <div *ngIf="isDisplayed(encode)">
        <button (click)="clickCode()"> {{mode && mode.toEncode()}} </button>
        <mat-slide-toggle [color]="'accent'"
                          (toggleChange)="onToggle()"
                          [checked]="mode.value()"
        ></mat-slide-toggle>
    </div>

    <mat-slide-toggle [color]="'accent'"
                      (toggleChange)="onChangeStaging()"
                      [checked]="isStaging"
    >
        {{isStaging ? 'По шагам' : 'Результат'}}
    </mat-slide-toggle>
</div>
