<div *ngIf="blocksResponse">
    <form class="form">

        <mat-form-field class="full-width" *ngFor="let id of blocksResponse.ids">
            <textarea matInput matTextareaAutosize
                   [placeholder]="blocks[id].name"
                   [(ngModel)]="blocks[id].value"
                   name="blockValue"></textarea>
        </mat-form-field>

    </form>


    <button *ngIf="blocksResponse.withKeysGeneration" (click)="clickGenerate()">Сгенерировать ключи</button>
    <button *ngIf="blocksResponse.withCheckSign" (click)="clickCheckSign()">Проверить подпись</button>
    <button *ngIf="blocksResponse.withStart" (click)="clickStart()">Запустить алгоритм</button>

    <div *ngIf="blocksResponse.withEncrypt">
        <button (click)="clickEncrypt()"> {{mode && mode.toEncrypt()}} </button>
        <mat-slide-toggle [color]="'accent'"
                          (toggleChange)="onToggle()"
                          [checked]="mode.value()"
        ></mat-slide-toggle>
    </div>

    <div *ngIf="blocksResponse.withEncode">
        <button (click)="clickCode()"> {{mode && mode.toEncode()}} </button>
        <mat-slide-toggle [color]="'accent'"
                          (toggleChange)="onToggle()"
                          [checked]="mode.value()"
        ></mat-slide-toggle>
    </div>

    <mat-slide-toggle [color]="'accent'"
                      (toggleChange)="onChangeStaging()"
                      [checked]="isStaging"
    >
        {{isStaging ? 'По шагам' : 'Результат'}}
    </mat-slide-toggle>
</div>
