<div *ngIf="blocksResponse">
  <label *ngFor="let block of blocksResponse.blocks">
    <span>{{block.name}}</span>
    <input  [(ngModel)]="block.value" [value]="block.value">
  </label>

  <button *ngIf="blocksResponse.withKeysGeneration">generate keys</button>
  <button *ngIf="blocksResponse.withStart">start</button>
  <div *ngIf="blocksResponse.withEncrypt">
    <button (click)="click()"> encrypt </button>
    <button (click)="click()"> decrypt </button>
    <mat-slide-toggle [color]="'accent'"
                      (toggleChange)="onToggle()"
                      [checked]="isEncrypt()"
    >{{mode && mode.toString()}}</mat-slide-toggle>  </div>
</div>
