.list-group-item, .list-group-item:first-child, .list-group-item:last-child {
  border: 1px solid #56CCF2;
  box-sizing: border-box;
  border-radius: 25px;
  margin: 5px 0;
}

.badge {
  color: #828282;
}
