<button mat-button (click)="addTest()">
    Добавить новый тест
</button>
<hr>
<div class="list-group-flush" *ngIf="tests">
    <div *ngFor="let test of tests">
        <app-test-row
                (mouseenter)="setFocus(test.id)"
                (mouseleave)="clearFocus()"
                [test]="test"
                [isTestFocused]="isTestFocused(test)">
        </app-test-row>
        <hr>
    </div>
</div>
<app-spinner
        *ngIf="!tests"
        [text]="'Загрузка тестов...'"
></app-spinner>
