a.nav-link.not-selected-page {
  color: #BDBDBD;
}

a.nav-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  text-align: left;
  color: #56CCF2;
}
