<div class="btn-group justify-content-between align-items-center" role="group" aria-label="Basic example">

    <button type="button" class="btn col-3" (click)="clear()">
        <app-icon [filename]="'delete.svg'" [width]="80" [height]="50"></app-icon>
    </button>

    <button type="button" class="btn col-3">
        <app-icon [filename]="'code-decode.svg'" [width]="80" [height]="50"></app-icon>
    </button>

    <input type="text" class="col-6 rounded-pill" [(ngModel)]="input">

    <button type="button" class="btn col-3" (click)="send.emit(input)">
        <app-icon [filename]="'send.svg'" [width]="80" [height]="50"></app-icon>
    </button>

    <button type="button" class="btn col-3">
        <app-icon [filename]="'step-by-step.svg'" [width]="80" [height]="50"></app-icon>
    </button>
</div>
