.btn-group {
  padding-top: 20px;
}

:host{
  margin-top: 250px;
  width: 100%;
}

.btn-group input, .btn-group button.btn {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 25px;
}

.btn-group button.btn {
  border: none;
  box-sizing: border-box;
  border-radius: 25px;
  background: none;
}

input {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  height: 3em;
}
