nav.nav.flex-column a.nav-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  text-align: left;
  color: #56CCF2;
}

nav.nav.flex-column a.nav-link img {
  margin-right: 20px;
}

input {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  height: 3em;
}
