<ng-container *ngIf="data && data.length && columns && columns.length && !isEditVisible">
    <h2>Пользователи</h2>
    <app-subheader [title]="getSubTitle()"></app-subheader>
    <button mat-button
            (click)="add()"
            *ngIf="isAdmin()"
    >Добавить</button>

    <div>
        <mat-table [dataSource]="data">

            <ng-container
                    *ngFor="let column of columns"
                    [matColumnDef]="column.key"
            >


                <ng-container *ngIf="isDefaultColumn(column)">
                    <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row[column.key] }}</mat-cell>
                </ng-container>

                <ng-container *ngIf="isDeleteEditColumn(column)">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-button (click)="editUser(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button (click)="deleteUser(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
    </div>
</ng-container>

<app-spinner
        *ngIf="!data && !columns"
        [text]="'Загрузка таблицы'"
></app-spinner>
<router-outlet #myOutlet
               (activate)="routerActivate()"
               (deactivate)="routerDeactivate()"
></router-outlet>

