<footer>
    <nav class="navbar">
                <span class="navbar-text">
                        <span class="col col-sm-12">Created in 2019 by:</span>
                        <span class="col col-sm-12">Антон Трохин</span>
                        <span class="col col-sm-12">Никита Потапов</span>
                        <span class="col col-sm-12">Владислав Голубцов</span>
                        <span class="col col-sm-12">Евгений Недосекин</span>
                        <span class="col col-sm-12">Максим Лихачев</span>
                </span>
    </nav>
</footer>
