body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #333333;
}

footer {
  height: 4em;
  margin-top: -3em;
  background-color: #333333;
  color: #fff;
  font-weight: 700;
}

nav.navbar{
  height: 3em;
  background-color: #333333;
}

span.navbar-text{
  font-size: 0.7em;
}
